<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Bootstrap href -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- End of Bootstrap -->
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Start of Navigation Bar -->
	<%= render 'shared/header' %>
<!-- End of Navigation Bar -->


<div class="container">
  <!-- Render flash partial -->
  <%= render 'shared/flash' %>
  <!-- End of flash -->
	<%= yield %>
</div>

<% if Rails.env.development? %>
	<%= debug(params) %>
<% end %>

</body>
</html>
